.cursor
.cursorrules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
venv
__pycache__
__pycache__/*
.ruff_cache
.pytest_cache
.mypy_cache

build/
dist/
*.o
*.exe
*.dll
*.so
*.dylib
*.lib
*.exp
*.def
*.manifest
*.res

cmake-build-debug/
cmake-build-release/
cmake-build-debug-coverage/
cmake-build-release-coverage/
cmake-build-debug-coverage-profile/
cmake-build-release-coverage-profile/
cmake-build-debug-coverage-profile-sanitize/
cmake-build-release-coverage-profile-sanitize/
cmake-build-debug-coverage-profile-sanitize-address/
cmake-build-release-coverage-profile-sanitize-address/
cmake-build-debug-coverage-profile-sanitize-address-thread/
cmake-build-release-coverage-profile-sanitize-address-thread/

.vscode/
.idea/
.cursor/
.cursorrules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
venv
__pycache__
__pycache__/*

